/*---------------------------------------ERROR 404------------------------------------*/
@import "./typos.css";
/* Reseteo local para evitar interferencias globales */
html {
  background: #dbdbdb; /* Mantener el color de fondo del HTML */
}

/* Estilo del contenedor principal */
.container {
  height: 100vh; /* Ocupa toda la pantalla */
  display: flex;
  flex-direction: column; /* Organiza contenido en columna */
  justify-content: center;
  align-items: center;
  position: relative; /* Para que los elementos puedan superponerse */
}

/* Estilo del código de error (en fondo) */
.error-code {
  font-size: 30vw;
  color: rgba(255, 255, 255, 0.8);
  animation: slide 9s infinite linear;
  font-family: "DM Sans";
  font-weight: 600;
  letter-spacing: -6px;
  position: absolute; /* Asegura que el número se quede en el fondo */
  z-index: 1; /* Lo coloca detrás del contenido del mensaje */
}

/* Contenedor del mensaje y botón */
.message {
  font-family: "DM Sans";
  font-weight: 600;
  letter-spacing: -1px;
  font-size: 3vw;
  color: #212121;
  z-index: 2; /* Coloca el mensaje y botón por encima del 404 */
}

/* Botón de inicio */
#button {
  display: block;
  text-align: center;
  margin-top: 20px;
  z-index: 2; /* Coloca el mensaje y botón por encima del 404 */
}

.home-button {
  text-decoration: none;
  border: 1.1px solid #212121;
  border-radius: 30px;
  border-style: shadow;
  color: #212121;
  font-size: 0.8vw;
  font-family: "DM Sans";
  font-weight: 400;
  display: inline-block;
  padding: 10px 20px;
  margin: 0 auto; /* Centra el botón */
}

.home-button p {
  margin: 0;
}

.home-button:hover {
  background-color: #d6ff43;
  color: #212121;
}

/* Cursor personalizado */
#custom-cursor {
  position: fixed; /* Siempre visible en la pantalla */
  width: 50px;
  height: 50px;
  background: url("/assets/icons/svg/10.svg") no-repeat center center / contain;
  pointer-events: none; /* Elimina la interacción del cursor */
  z-index: 9999; /* Asegura que esté encima de todo */
  transform: translate(-50%, -50%);
  transition: transform 0.7s ease; /* Animación para cambios de tamaño */
}

#custom-cursor.shrink {
  transform: scale(0.2); /* Reduce el tamaño del SVG */
}

/* ....Animación de deslizamiento....*/
@keyframes slide {
  0% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
