/*
  MEDIA QUERIES
  https://alistapart.com/article/responsive-web-design/
  https://www.w3.org/TR/mediaqueries-3/
*/


  /* Mobile Portrait */
  @media only screen and (max-width: 600px) and (orientation: portrait) {
    body {
      font-size: 1rem;
      background-color: #ffffff;
    }
  }
  
  /* Mobile Landscape */
  @media only screen and (max-width: 800px) and (orientation: landscape) {
    body {
      font-size: 1.2rem;
      background-color: #cfff55;
    }
  }
  
  /* Tablet Portrait */
  @media only screen and (min-width: 601px) and (max-width: 900px) and (orientation: portrait) {
    body {
      font-size: 1.4rem;
      background-color: #78a0ff;
    }
  }
  
  /* Tablet Landscape */
  @media only screen and (min-width: 801px) and (max-width: 1200px) and (orientation: landscape) {
    body {
      font-size: 1.6rem;
      background-color: #ffffff;
    }
  }
  
  /* Small Desktop */
  @media only screen and (min-width: 1201px) and (max-width: 1600px) {
    body {
      font-size: 1.8rem;
      background-color: #2f2e2d;
    }
  }
  
  /* Large Desktop */
  @media only screen and (min-width: 1601px) {
    body {
      font-size: 2rem;
      background-color: #0022ff;
    }
  }
  
  /* Responsive design for smaller screens */
@media (min-width: 768px) {
  main {
      grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1024px) {
  main {
      grid-template-columns: 1fr 1fr 1fr;
  }
}