/* General Styles */
body {
    font-family: 'Poppins', sans-serif;
    color: #3B3634;
    margin: 0;
    padding: 0;
}

/* Navbar */
.navbar {
    background-color: #F5F1E7;
    color: #171717;
    padding: 10px 0;
    text-align: center;
}

.navbar-content p {
    font-size: 0.8em;
    font-weight: 200;
    color: #172322;
    margin: 0;
    letter-spacing:normal;
}

/*-------------------------- Creative Grid Section -------------------------------*/
.grid-section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 40px;
    background-color: #f5f5f5;
}

.grid-item img, .grid-item video {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.video-hover {
    width: 100%; /* Ajusta el tamaño como necesites */
    height: auto;
    transition: transform 0.3s ease; /* Añadir una transición opcional */
}

.video-hover:hover {
    transform: scale(1.05); /* Un pequeño zoom opcional en hover */
}


/* -------------------------About Me Section with Parallax ------------------------*/
p {
    font-optical-sizing: auto;
  font-weight: 300;
  color: #ffd6ef;
}

h2 {
    color: #F5F1E7;
    font-size: large;
}

.about-me-section {
    background-image: url('your-background.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    padding: 100px 20px;
    color: #F5F1E7;
    text-align: center;
}

.about-me-content {
    background-color: #172322;
    padding: 40px;
    border-radius: 10px;
}

.about-me-content h2 {
    margin-bottom: 20px;
}

.about-me-content p {
    font-size: 2.0em;
}

/*---------------------------- Footer -----------------------------*/
/* Footer */
/* Footer */
footer {
    background-color: #F5F1E7;
    color: white;
    padding: 10px 20px;
    font-size: 0.75em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Copyright section */
.footer-container .copyright {
    font-size: 0.60em;
    color: #172322;
    margin: 0;
}

/* Social Media Icons */
.social-icons {
    display: flex;
    gap: 10px;
}

.social-icons a {
    text-decoration: none;
}

.social-icons img {
    width: 16px;
    height: 16px;
}


/* Social Media Icons */
.footer-container img {
    width: 16px;
    height: 16px;
}

.footer-bottom {
    margin-top: 10px;
    font-size: 0.65em;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    padding-top: 5px;
}



/* Scroll Animation */
@keyframes fadeInUp {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Add animation on scroll */
.about-me-content {
    animation: fadeInUp 1s ease-in-out;
}

@media (max-width: 768px) {
    .grid-section {
        grid-template-columns: 1fr;
    }
}

/* FOOOOOOOTER*/
