/* Grid styling for the analysis section */
.web-analysis-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Dos columnas de igual tamaño */
    grid-template-rows: repeat(2, auto);   /* Dos filas automáticas */
    gap: 30px; /* Espacio entre las columnas y filas */
    padding: 20px;
}

.web-analysis {
    border: 1px solid #272727;
    padding: 20px;
    border-radius: 20px;
    border-width: 4px;
    background-color: #f8f8f8;
    box-shadow: 7px 14px 5px rgb(192, 188, 186);
}

.web-image1 img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 5px;
}

.web-image2 img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 5px;
}
.web-image3 img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 5px;
}

a {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    color: #de63bb;
    font-family: "Unbounded", sans-serif;
    font-weight: 500;
    font-size: 18px;
    padding: 10px;
}

a:hover {
    color: #98718d;
    text-decoration-line: line-through;
    font-weight: 500;
}

/* Centrar el título */
h2 {
    text-align: center;
    margin-bottom: 30px;
    font-family: "Unbounded", sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: #1b1b1b;
}

.about-me-content {
    text-align: center;
    margin: 60px;
    padding: 20px;
}


.navbar-content {
    text-align: center;
    padding-bottom: 0px;
}

footer {
    background-color: #de63bb;
    color: rgb(255, 255, 255);
    padding: 10px;
    margin-top: 60px;
    font-size: 0.75em;
    display: flex;
    justify-content:center
}

.copyright {
    text-align: center;
    padding-top: 8px;
    font-size: 14px;
    font-weight: 500;
}


/*----------TEXTS-----------*/

h1 {
    font-family: "Unbounded", sans-serif;
    font-weight: 900;
    font-size: 90px;
    color: #292929;
    text-shadow: 0px 17px 5px rgb(192, 188, 186);
}

h3 {
    font-family: "Unbounded", sans-serif;
    font-weight: 800;
    font-size: 25px;
    color: #de63bb;
    padding-bottom: 10px;
}


p {
    font-family: "Onest", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-size: 13px;
    font-style: normal;
    padding-bottom: 6px;
}


/*---------FOOTER-----------*/